h1{
	color:red;
	margin-left:500px;
}
body {
  background-image: url("test img.jpg");
  background-repeat: repeat;
  background-size: contain;
}
table{
  border-collapse: collapse;
}
.td1{
	font-size: 25px;
	border: 3px solid #424242;
	padding-left: 225px;
	padding-right: 225px;
	background:white;
	opacity:0.5;
}